<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Devis pour Au Paint Space">
<meta name="author" content="Jérémy Seguin">
<link rel="shortcut icon" href="
    <% if (srv.session.ownerObj && srv.session.ownerObj.ownerBigLogo != "") { %>
        <%= srv.session.ownerObj.ownerBigLogo %>
    <% } %>">

<title>
    <% if (srv.session.ownerObj && srv.session.ownerObj.ownerClean != "") { %>
        <%= srv.session.ownerObj.ownerClean %>
    <% } else { %>
        Application Devis / Facture
    <% } %>
</title>
