<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsed-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <% if (srv.session && srv.session.ownerObj && srv.session.ownerObj.ownerLogo && srv.session.ownerObj.ownerLogo !== "") { %>
                    <img src="<%= srv.session.ownerObj.ownerLogo %>" alt="<%= srv.session.ownerObj.ownerClean %>" border="0" height=40 class="logomenu"/>
                <% } else { %>
                    <span class="glyphicon glyphicon-picture"></span>
                <% } %>
                <% if (srv.session && srv.session.ownerObj && srv.session.ownerObj.ownerBigLogo && srv.session.ownerObj.ownerBigLogo !== "") { %>
                    <style>
                        .wrapper .background {
                            background-image: url('<%= srv.session.ownerObj.ownerBigLogo %>') !important;
                        }
                    </style>
                <% } else { %>
                    <style>
                        .wrapper .background {
                           opacity : 0.7 !important;
                        }
                    </style>
                <% } %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsed-menu">
                <% if (srv.session && srv.session.username && srv.session.username != "") { %>
                    <ul class="nav navbar-nav navbar-left">
                        <li <% if (srv.loc == "home") { %> class="active" <% } %>>
                            <a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a>
                        </li>
                        <li <% if (srv.loc == "product") { %> class="active" <% } %>>
                            <a href="/productMenu">Prestations</a>
                        </li>
                        <li <% if (srv.loc == "customer") { %> class="active" <% } %>>
                            <a href="/customerMenu">Clients</a>
                        </li>
                        <li <% if (srv.loc == "quotation") { %> class="active" <% } %>>
                            <a href="/quotationMenu">Devis/Factures</a>
                        </li>
                        <li class="dropdown <% if (srv.loc == "options") { %>active<% } %>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/ownerMenu">Configurer la Société</a></li>
                                <li class="divider"></li>
                                <li><a href="/managementMenu">Paramètres</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-remove-sign text-danger"></span><span class="text-danger"> Déconnexion</span></a>
                        </li>
                    </ul>

                <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/login"><span class="glyphicon glyphicon-user"></span> Se Connecter</a>
                    </li>
                </ul>
                <% } %>
        </div>
    </div>
</div>