<p id="personTitle" class="highlight"><% if (srv.Obj && srv.Obj.customerType) { %><% if (srv.Obj.customerType == 0) { %>Contact Principal<% } else if (srv.Obj.customerType == 1) { %>Personne Physique<% }%><% } else { %>Contact Principal<% } %></p>
<% var o = { index: "20", gender: 1, label: "Civilité", field: "personGender", tooltip: "M. et Mr sont équivalents (Monsieur), Mme (Madame), Mlle n'est officiellement plus utilisable (Mademoiselle), et Autre permet de ne rien mettre en terme de civilité sur les factures (si vous n'avez par exemple qu'un prénom à mettre).", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personGender : srv.Obj) } %>
<% include form/inputSelectPersonGender %>
<% include form/inputSelect %>
<% var o = { index: "21", label: "Prénom", field: "personFirstName", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personFirstName : srv.Obj) } %>
<% include form/inputText %>
<% var o = { index: "22", label: "Nom", tooltip: "Le nom de famille est obligatoire. Si vous n'avez que le prénom du client, choisissez 'Autre' dans civilité et ne renseignez que le nom de famille.", empty: "Le nom de famille est obligatoire", field: "personLastName", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personLastName : srv.Obj) } %>
<% include form/inputText %>
&nbsp;<br/>
<p class="midlight">Coordonnées de la personne</p>
<% var o = { index: "23", label: "Site Internet", field: "personAddressURL", placeholder: "http://", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personAddressURL : srv.Obj) } %>
<% include form/inputURL %>
<% var o = { index: "24", label: "Adresse", field: "personAddressLine1", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personAddressLine1 : srv.Obj) } %>
<% include form/inputText %>
<% var o = { index: "25", label: "", field: "personAddressLine2", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personAddressLine2 : srv.Obj) } %>
<% include form/inputText %>
<div class="row">
    <div class="col-sm-6">
        <% var o = { index: "26", label: "CP", field: "personAddressCP", labelw: "8", inputw: "4", value: (srv.Obj ? srv.Obj.personAddressCP : srv.Obj) } %>
        <% include form/inputText %>
    </div>
    <div class="col-sm-6">
        <% var o = { index: "27", label: "Ville", field: "personAddressCity", labelw: "2", inputw: "8", value: (srv.Obj ? srv.Obj.personAddressCity : srv.Obj) } %>
        <% include form/inputText %>
    </div>
</div>
<% var o = { index: "28", label: "Pays", field: "personAddressCountry", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personAddressCountry : srv.Obj) } %>
<% include form/inputText %>
&nbsp;<br/>
<p class="midlight">Contact de la personne</p>
<% var o = { index: "29", label: "Téléphone", field: "personContactTel", placeholder: "xx.xx.xx.xx.xx", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personContactTel : srv.Obj) } %>
<% include form/inputTel %>
<% var o = { index: "30", label: "Mobile", field: "personContactMobile", placeholder: "xx.xx.xx.xx.xx", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personContactMobile : srv.Obj) } %>
<% include form/inputTel %>
<% var o = { index: "31", label: "Fax", field: "personContactFax", placeholder: "xx.xx.xx.xx.xx", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personContactFax : srv.Obj) } %>
<% include form/inputTel %>
<% var o = { index: "32", label: "Email", field: "personContactMail", labelw: "4", inputw: "7", value: (srv.Obj ? srv.Obj.personContactMail : srv.Obj) } %>
<% include form/inputMail %>
