<% include _doc %>
<html lang="en">
    <head>
        <% include _header %>
        <% include _css %>
        
        <% include _js %>
        
        <script type="text/javascript" src="/js/paytype.js"></script>
    </head>
    <body>
        <% include _menu %>
        <div class="wrapper">
            <div class="background"></div> 
            
                <div class="container">
                    <div class="row">&nbsp;</div>
                        
                    <div class="row">&nbsp;</div>
                        
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center center">
                            <div class="well">
                                <% include payTypeForm %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% include _footer %>
                
        <script type="text/javascript">
            $(document).ready(payTypeValidator);
        </script>
    </body>

</html>