<% include _doc %>
<html lang="en">
    <head>
        <% include _header %>
        <% include _css %>

        <% include _js %>

        <script type="text/javascript" src="/js/quotation.js"></script>
    </head>
    <body>
        <% include _menu %>
        <div class="wrapper">
            <div class="background"></div>

                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center center">
                            <div class="well">
                                <legend><h1>Devis et Factures</h1></legend>
                                &nbsp;<br/>
                                <div class="row text-center">
                                    <button type="button" id="addQuotation" class="btn btn-warning">Ajouter un Devis</button>
                                    <button type="button" id="addInvoice" class="btn btn-success">Ajouter une Facture</button>
                                </div>
                                &nbsp;<br/>
                                <small class="help">Les devis et Facture sont très similaire, si ce n'est qu'un devis peut être abandonné, et qu'un facture <b>doit</b> recevoir des paiements.</small><br/>
                                &nbsp;<br/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include _footer %>
        <% include _popup %>

        <script type="text/javascript">
            $(document).ready(quotationInitTab());
        </script>
    </body>
</html>